* {
    margin: 0;
    padding: 0;
}


.menu_icon {
    width: 30px;
    height: 70px;
    margin-left:10px;
    background-color: red;
    display: flex;
    align-items: center;
}
@media (min-width: 800px) {
    .menu_icon {
        display: none;
    }
    .logo {
        margin-left: 20px;
    }
}
.menu_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo {
    background-color: yellow;
    width:70px;
    height: 70px;

}


.menu {
    padding: 10px;
}

.menubar {
  display: grid;
  grid-template-columns: auto 1fr auto; /* izquierda - centro flexible - derecha */
  align-items: center;
  column-gap: 16px;      /* espacio entre columnas */
  padding: 0 16px;
  background: aqua;
  height: 70px;
  box-sizing: border-box;
}

.menu_side {
    background-color: lightgray;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);


    transition: 300ms ease;
}

.menu_side.show {

    left: 0;
}

.close_menu {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.msh_logo_icon {
    width: 40px;
    height: 40px;
}

.msh_x_icon {
    width: 20px;
    height: 20px;
}

.menu_side_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.logo {
    width: 30px;
    height: 70px;
    width: 70px;
    margin-right: 10px;
    background-color: red;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 8px;

}

.options {
    width: 200px;          /* ancho fijo que quieres mantener */
    height: 70px;
    display:flex;
    align-items:center;
    justify-content:center;
    background: black;
    color: white;
}

/* DERECHA */
.contacto {
    justify-self: end;     /* se pega al borde derecho de su columna */
    width: 200px;
    height: 70px;
    display:flex;
    align-items:center;
    justify-content:center;
    background: green;
}
