

.container_menu_categories {
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    width: 100%;
    top: 80px;   
    height: 100px;
    position: fixed;
    z-index: 1;
}

.menu_categories {
    display: flex;

    top: 80px;   

    width: 770px;
    align-items: center;
    justify-self: center;
    gap: 0.5%;
    overflow-x: auto; 
    overflow-y: none;
    position: fixed;  /* Fija el div en la pantalla */
}
@media (max-width: 750px) {
    .menu_categories {
        width: 100%;
    }
}

.menu_categories a {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0 15px;
    cursor: pointer;
    flex-shrink: 0;
    width: 120px;
}

.menu_categories a.active span {
    color: rgb(255, 9, 9);
}


.menu_categories a img {
    height: 60px;
    vertical-align: middle;
    margin: 5px;
}

.menu_categories a span {
    margin-bottom: 5px;
    text-align: center;
}
