html {
    scroll-behavior: smooth;
}



#promociones,#pollo,#guarniciones,#bebidas,#extras {
    scroll-margin-top: 100px;
}

.category {
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    width:900px;
    justify-self: center;
    padding: 10px;
}



.menu_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-self: center;
    gap:10px;
    width: 900px;

}


.menu_item {
    
    background-color: rgb(242, 240, 240);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: clamp(150px, 19%, 240px);
    text-decoration: none;

    font-family: Arial, sans-serif;
    margin: 0px;

    border: none;
    transition: 
    transform 0.1s ease,
    box-shadow 0.1s ease,
    background-color 0.1s ease;
}
.menu_item:hover {
    background-color: rgb(230, 230, 230);
}

.menu_item:active {
    transform: scale(0.97);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25);
    background-color: rgb(210, 210, 210);
}

@media (max-width: 1030px) {
    .menu_item {

        width: clamp(125px, 30%, 400px);
    }
    .menu_items{
        width: min(94%,990px);
    }
    .category {
        width: min(94%,695px);
    }
}
@media (max-width: 735px) {
    .menu_item {

        width: clamp(100px,48%,305px);
    }
    .menu_items{
        width: min(94%,560px);
    }
    .category {
        width: min(94%,460px);
    }
}

.menu_item_img {
    margin:3%;
    height: 95%;
    width: 95%;
    margin-bottom: 5px;
    overflow: hidden; /* Evita que el contenido desborde el contenedor */
}
.menu_item_img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Suaviza la transición */
}
.menu_item_img img:hover {
    transform: scale(1.07);
}


.menu_item h2 {
    font-size: 16px;
    margin: 3%;
}

.menu_item p {
    margin: 3%;
    font-size: 14px;
    text-align: justify;
}

.menu_item span {
    font-weight: bold;
    margin: 5px;
    text-align: left;
}
