html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


.menu_main {
    z-index: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    top: 0; 
    align-items: center;
    width: 95%;
    height: 80px;
    padding: 0 20px;
    margin: 0px;
}


.side {
    width: 30px;
    flex-shrink: 0;  /* No permite que se reduzca el ancho */
    display: none;
    margin: 5px;
    cursor: pointer; /* Indica que es clickeable */
}
img {
    max-width: 100%;   /* No crece más que el contenedor en ancho */
    max-height: 100%;  /* No crece más que el contenedor en alto */
    object-fit: contain; /* Mantiene proporción sin recortar */
    width: auto;       /* No escala horizontalmente si no es necesario */
    height: auto;      /* No escala verticalmente si no es necesario */
}
.izq    { 
    width: 70px;
    flex-shrink: 0; /* No permite que se reduzca el ancho */
}
.centro { 

    width: 400px; 
    flex-shrink: 0;

    display:flex;
    gap: 30px;
    justify-content: center;
    justify-items: center;
}
.options{
    color: inherit;
    outline: none;
    text-decoration: none;
    height: 25px;
    font-family: verdana;
    font-size: 18px;
}


.centro button{
    height: 30px;
}


.der    { 
    display:flex;
    gap:10px;
    margin-left: auto;
    flex-shrink: 0; /* No permite que se reduzca el ancho */
}

.centro {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 840px) {
    .centro {
        display: none;
        visibility: hidden;   /* Invisible pero ocupa espacio */ 
        flex-shrink: 100; /* Permite que se reduzca el ancho */
    }
    .side {
        display: flex;
    }
}


.menu_side {
    z-index:2;
    background-color: rgb(229, 229, 229);
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);


    transition: 300ms ease;
}

.menu_side.show {

    left: 0;
}

.close_menu {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.menu_side_header_logo_icon {
    width: 40px;
    height: 40px;
}

.menu_side_header_x_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menu_side_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



.contact {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    cursor: pointer;
}
.contact img {
    width: 20px;
    margin:5px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    cursor: pointer;
}
.account img {
    width: 20px;
    margin: 5px;
}


.cart {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.cart.highlight {
    background-color: rgb(255, 191, 191);
    box-shadow: 0 0 0 2px rgba(218, 218, 218, 0.6);
}

.cart img {
    width: 20px;
    margin: 5px;
}

@media (max-width: 600px) {
    .contact span,.account span,.cart span{
        display: none;
    }
}

.container_cart_side {
    z-index:2;

    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;

    right: -250px;

    transition: 300ms ease;
    background-color: rgb(180, 180, 180);
}
.container_cart_side.show {
    right: 0;
}
.cart_side {


    width: 200px;
    height: 80%;
    position: fixed;

}



.cart_side_header {
    background-color: red;
    width: auto;
    height: 50px;
}


.cart_items {
    overflow-y: auto;
    height: 100%;
}

.cart_item {
    
    background-color: rgb(223, 223, 223);
    width: 93%;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 190px;
    flex-direction: column;
    display: flex;
    margin: 2%;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;


}

.cart_item.highlight {
  background-color: rgb(211, 223, 163);
  box-shadow: 0 0 0 2px rgba(190, 190, 190, 0.6);

}




.cart_item_x {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 5px;
}
.cart_item_x button {
    border: None;
    background: none;
    width: 25px;

    height: 25px;
}

.cart_item_info {
    display: flex;
    flex-direction: row;
}


.cart_item_img {
    height: 70px;
    margin: 5px;
    background-color: rgba(6, 44, 237, 0.255);
    
}
.cart_item_title {
    display: flex;
    align-items: center;  

}

.cart_item_price {
    display: flex;
    align-items: center;
    margin-bottom:5px;
}

.cart_item_controls {
    background-color: brown;
    display: flex;

    justify-content: center;
    margin-bottom: 10px;
}

.cart_item_controls span {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    width: 20px;
    padding: 10px;
}

.cart_item_controls button {
    width:40px;
    height: 40px;
}


.cart_footer {
  border-top: 1px solid #f10000;
  padding: 12px;
  height: 20%;
  background: #fff;
}

.btn_checkout {
  width: 100%;
  padding: 14px;
  font-weight: bold;
}



.container_ckeckout_modal {


    justify-content: center;
    height: 90%;
    position: fixed;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self:center;
    display: none;
    align-items: center;
    width: 400px;

}
.container_ckeckout_modal.show {
    display: flex;
}

@media (max-width: 500px) {
    .container_ckeckout_modal {
        width: 85%;
    }
}

.checkout_modal {

    padding: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border: 3px solid #ccc;
    border-radius: 10px;
    gap:20px;
    width: 100%;
    height: 500px;

}

#order_type,
#order_address,
#payment_method {
  width: 90%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
