html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


.contenedor {
    z-index: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    top: 0; 
    align-items: center;
    width: 95%;
    height: 80px;
    padding: 0 20px;
    margin: 0px;
}


.side {
    width: 30px;
    flex-shrink: 0;  /* No permite que se reduzca el ancho */
    display: none;
    margin: 5px;
    cursor: pointer; /* Indica que es clickeable */
}
img {
    max-width: 100%;   /* No crece más que el contenedor en ancho */
    max-height: 100%;  /* No crece más que el contenedor en alto */
    object-fit: contain; /* Mantiene proporción sin recortar */
    width: auto;       /* No escala horizontalmente si no es necesario */
    height: auto;      /* No escala verticalmente si no es necesario */
}
.izq    { 
    width: 70px;
    flex-shrink: 0; /* No permite que se reduzca el ancho */
}
.centro { 

    width: 400px; 
    flex-shrink: 0;

    display:flex;
    gap: 30px;
    justify-content: center;
    justify-items: center;
}
.options{
    color: inherit;
    outline: none;
    text-decoration: none;
    height: 25px;
    font-family: verdana;
    font-size: 18px;
}


.centro button{
    height: 30px;
}


.der    { 
    display:flex;
    gap:10px;
    margin-left: auto;
    flex-shrink: 0; /* No permite que se reduzca el ancho */
}

.centro {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 840px) {
    .centro {
        display: none;
        visibility: hidden;   /* Invisible pero ocupa espacio */ 
        flex-shrink: 100; /* Permite que se reduzca el ancho */
    }
    .side {
        display: flex;
    }
}


.menu_side {
    z-index:2;
    background-color: rgb(229, 229, 229);
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);


    transition: 300ms ease;
}

.menu_side.show {

    left: 0;
}

.close_menu {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.menu_side_header_logo_icon {
    width: 40px;
    height: 40px;
}

.menu_side_header_x_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menu_side_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilizacion */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.contact img {
    max-width: 20%;
    margin:5px;
}
.account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.account img {
    max-width: 25%;
    margin: 5px;
}


.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.cart img {
    max-width: 30%;
    margin: 5px;
}