.main_container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    height: 500px;           /* altura del contenedor */
    background-color: #f0f0f0;
}

.order_tracking {

    width: 700px;
    height: 350px;
    display: flex;
    justify-content: center;
    border: 3px solid #dedede;
    border-radius: 10px;

}
.icon {
    width:60px;
    margin: 40px;
    transform: translateY(-60px);
}

.form {

    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    width: 400px;
    height: 60px;
    font-size: 30px;
    font-family: 'Gill Sans';
    margin-left:10px
}


.inputs_blocks {
    width: 550px;
    display:flex;


}

.input_block {
    display: flex;
    flex-direction: column;
    width: 400px;
    height:65px;
    margin: 10px;
    padding: 10px;
}



/***************************/
.input_block span {
    margin: 5px;
}
.dropdown_entry,.entry {
    border: 1px solid ;
    padding:10px;
    border-radius: 4px;
    height: 50px;
    width: 200px;
}
